---
title: Smart Football Table
layout: default
bodyClass: page-home
---

<div class="intro pb-4">
  <div class="container">
    <h1>Smart Football Table</h1>
    <p>Combining Internet of Things and Foosball to create an intelligent football table.</p>
  </div>
</div>

<div class="container pt-2">
    <div class="call-box-bottom">
      <a href="https://github.com/smart-football-table/smart-football-table" class="button">Visit us on GitHub</a>
    </div>
</div>

<br>

<div class="container pt-5 pb-5 pt-md-7 pb-md-7">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Features while playing a match:</h2>
    </div>
    {% for featurefunction in site.sftfeatures.featuresLive %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {% if featurefunction.image %}<div class="feature-image"><img alt="{{ featurefunction.title }} logo" src="{{ featurefunction.image }}" /></div> {% endif %}
        {% if featurefunction.url %}<a class="feature-title" href="{{ featurefunction.url }}">{{ featurefunction.title }}</a><br> {% else %} <h2 class="feature-title">{{ featurefunction.title }}</h2><br> {% endif %}
        <div class="feature-content">{{ featurefunction.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div>

  <br><br><br>
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-4">Features after a match:</h2>
    </div>
    {% for featurefunction in site.sftfeatures.featuresAfter %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {% if featurefunction.image %}<div class="feature-image"><img alt="{{ featurefunction.title }} logo" src="{{ featurefunction.image }}" /></div> {% endif %}
        {% if featurefunction.url %}<a class="feature-title" href="{{ featurefunction.url }}">{{ featurefunction.title }}</a><br> {% else %} <h2 class="feature-title">{{ featurefunction.title }}</h2><br> {% endif %}
        <div class="feature-content">{{ featurefunction.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>