<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/how/" class="{% if page.url contains 'how' %}current{% endif %}">How it works</a></li>
    <li><a href="{{site.baseurl}}/build/" class="{% if page.url contains 'build' %}current{% endif %}">Build your Own</a></li>
    <li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
  </ul>
</div>
